/*Resetare CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  display: grid;
  grid-template-rows: 5% auto;
  justify-content: left;
  align-items: top;
  height: 100vh;
}

#titlu {
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 30px;
}

#poza-info {
  font-family: sans-serif;
  grid-template-columns: auto auto;
  display: inline-grid;
  grid-column-gap: 9px;
  justify-content: left;
}

#poza {
  height: 486px;
  width: 596px;
  padding: 25px;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
  /*
  background-size: cover;
  background-position: 82.6475% 25%;
  background-repeat: no-repeat;
  padding-bottom: 69.4106%;
  width: 572.016px;
  */
}

#poza:hover {
  transform: scale(1.04);
  filter: grayscale(10%);
}

.info {
width: auto;
height: auto;
overflow: visible;
padding-top: 25px;
padding-left: 25px;
justify-content: center;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

ul, #continut, #loca {
  font-size: 23px;
}

ul {
  list-style-type: none;
}
.fa-github-square, .fa-linkedin-square, .fa-facebook-square {
  color: rgb(100, 100, 100);
}
.fa-github-square:hover, .fa-linkedin-square:hover, .fa-facebook-square:hover {
  color: blue; 
}

.leg {
  font-size: 40px;
  display: inline;
}

#din {
  color: rgb(100, 100, 100);
  font-style: italic;
}
/*
#poza {
background-image: url(https://aboutme.imgix.net/background/users/c/a/r/carterbancroft_1554162412_965.jpg?q=40&dpr=2&auto=format&fit=max&w=1200&h=832.927132554091);
    background-size: cover;
    background-position: 82.6475% 25%;
    background-repeat: no-repeat;
    padding-bottom: 69.4106%;
    width: 572.016px;
}
*/