#canvas {
  height: 500px;
  width: 500px;
  background-color: ivory;
  margin: 0 auto;
  box-shadow: 15px 15px 10px aqua;
}
#first-row {
  height: 75%;
  width: 100%;
}
#big-rectangle {
  height: 100%;
  width: 75%;
}
#first-divider {
  height: 100%;
  width: 3%;
}
#first-column {
  height: 100%;
  width: 22%;
}
#first-medium-rectangle {
  height: 47.5%;
  width: 100%;
}
#second-divider {
  height: 5%;
  width: 100%;
}
#second-medium-rectangle {
  height: 47.5%;
  width: 100%;
}
#second-row {
  height: 3%;
  width: 100%;
}
#third-row {
  height: 22%;
  width: 100%;
}

#last-column {
  height: 100%;
  width: 5%;
}

#first-tiny-rectangle {
  height: 45%;
  width: 100%;
}

#second-tiny-rectangle {
  height: 45%;
  width: 100%;
}

#third-divider {
  height: 10%;
  width: 100%;
}

#fourth-divider {
  height: 100%;
  width: 3%;
}

#fifth-divider {
  height: 100%;
  width: 3%;
}

#wide-rectangle {
  height: 100%;
  width: 67%;
}

#small-rectangle {
  height: 100%;
  width: 22%;
}
.red-t {
  background: tomato;
}
.black {
  background: black;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
.right {
  float: right;
}
.left {
  float: left;
}