/* Resetare CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(https://i.imgur.com/iNiBVSj.jpg) no-repeat center center fixed;
  background-size: cover;
}
h1 {
  font-size: 48px;
}
h3 {
  font-size: 30px;
}
ul, #div-content, #div-location {
  font-size: 23px;
}
ul {
  list-style-type:none;}
.fa-facebook-square, .fa-envelope-square {
  color: rgb(100, 100, 100);
}
img {
  width: 120px;
  height: 160px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}
li {
  display: inline;
}
#profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  width: 480px;
  max-width: calc(100vw - 10px);
}
#div-head ,#div-content {
  /*background-color:hsla(120, 100%, 50%, 0.4); verde transparent*/
  width: 90%;
  margin: 0 auto;
}
/*#div-profile-image, #div-name-headline, #section-links, #p-about {
  background-color: hsla(300, 100%, 50%, 0.4)violet transparent
}*/
#div-content {
  padding: 5% 10%;
  border-top: 2px solid hsla(0, 0%, 30%, .8);
}
#div-head ,#div-content {
  text-align: center;
}
#div-profile-image {
  margin-top: -60px;
}
#div-head ,#p-about {
  margin-bottom: 10%;
}
#din, #email {
  color: rgb(80, 80, 80);
}